.example-stretched-tabs {
  margin-top: 20px !important;
  width:60% ;
  margin: auto;
}

mat-row:hover{
  background-color: rgb(213, 213, 255);
  cursor: pointer;
}

.add-new{
  cursor: pointer;
  width: 100%;
  margin:0;
}

 mat-footer-cell {
  padding: 0;
}
