mat-card{
  max-width: 40%;
  margin: auto;
  margin-top: 20px;
}

.first-fields{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}

.first-fields > mat-form-field {
  width: 45%;
}

mat-radio-group{
  margin-left:30px;
}
mat-radio-button{
  margin-right: 10px;
}


mat-card-actions{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

mat-form-field{
  margin-bottom: 5px;
}
